/* Start variable */


:root {
    --main-color: rgb(25, 200, 250);
    --transparent-color: rgb(25, 200, 250, 20%);
    --section-padding: 100px;
    --par-color: #777;

}

/* End variable  */


* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;

}

ul {
    list-style: none;
}

header {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 2;
}

.container {

    margin-left: auto;
    padding-left: 10px;
    margin-right: auto;
    padding-right: 10px;
    min-height: 97px;
}

/* start global rules */

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End global rules */
/* Start components  */
.main-heading {
    text-align: center;

}

.main-heading h2 {
    content: "";
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    background-color: #333;
    height: 2px;
    width: 120px;
    bottom: -30px;
}

.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    bottom: -38px;
    border: 2px solid #333;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    background-color: white;
}

.main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;
}

/* End components */

/* Start header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0;

    width: calc(100% - 30px);
    left: 15px;
}

header .logo img {
    height: 60px;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

header nav .menu {

    color: white;
    font-size: 22px;


}

header nav .menu:hover+ul {
    display: flex;
    flex-direction: column;
    top: 100%;
    position: absolute;
    left: 0;
    width: 100%;
}

header nav .menu:hover+ul a {
    padding: 15px;
}

@media (min-width: 768px) {
    header nav .menu {
        display: none;
    }
}

header nav ul {
    display: flex;
}

@media (max-width:769px) {
    header nav ul {
        display: none;
    }

}

header nav li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    padding: 40px 10px;
    position: relative;
    z-index: 2;
}

header nav li a:hover,
header nav li a.active {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

header .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;

}

header .form i {
    position: absolute;
    font-size: 20px;
    color: white;
    top: 50%;
    transform: translatey(-50%);
    right: 0;
}

/* End header */
/* Start landing */
.landing {
    min-height: 100vh;
    background-image: url("../pics/landing.jpg");
    background-size: cover;
    background-color: #1f2021;
    position: relative;

}

.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.664);
}

.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translatey(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    display: flex;
    justify-content: flex-end;
}

@media (max-width:767px) {
    .landing .text {
        width: 100%;
    }

    .landing .text .content {
        max-width: 100%;
    }
}

.landing .text .content {
    max-width: 500px;
}

.landing .text h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;

}

.landing .text p {
    font-size: 14px;
    line-height: 1.5;

}

.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    color: white;
}

@media (max-width:767px) {
    .change-background {
        display: none;
    }
}

.landing .fa-angle-left {
    left: 30px;
}

.landing .fa-angle-right {
    right: 30px;
}

.landing .bullets {
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translatex(-50%);

}

.landing .bullets li {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 50%;

}

.landing .bullets .active {
    background-color: var(--main-color);

}

/* End landing  */
/* Start services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);

}

.services .serv-box {
    display: flex;
}

.services .serv-box i {
    margin-right: 10px;
}

@media (max-width:767px) {
    .services .serv-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;

    }

    .services .serv-box i {
        margin: 0 0 30px;
    }
}

.services .serv-box h3 {
    margin-bottom: 30px;
    color: var(--main-color);
}

.services .serv-box p {
    line-height: 2;
    color: rgba(119, 119, 119, 0.733);
}

@media (min-width:768px) {
    .services .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 60px;
    }
}

/* End services */
/* Start design section */
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    height: 600px;
    background-image: url("../pics/back-ground.jpg");
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.design .image {
    text-align: center;


}

.design::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.664);

}

.design .image,
.design .text {
    position: relative;
    z-index: 2;
    flex: 1;
}

.design .image img {
    position: relative;
    bottom: -200px;
    width: 500px;
    height: 500px;
}

@media(max-width:767px) {
    .design .image img {
        display: none;
    }
}

.design .text {
    color: white;
    background-color: var(--transparent-color);
    padding: 50px;
}

.design .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.design .text ul li {
    padding: 15px 0;
}

.design .text li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    margin-right: 20px;
}

/* End design section */
/* Start portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portfolio .shuffle {
    display: flex;
    justify-content: center;
}

.portfolio .shuffle li {
    padding: 10px;

}

.portfolio ul li.active {
    background-color: var(--main-color);
    color: white;
}

.portfolio .image-holder {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;

}

.portfolio .image-holder .box {
    position: relative;
    overflow: hidden;
}

@media(min-width:768px) {
    .portfolio .image-holder .box {
        flex-basis: 50%;
    }
}

@media(min-width:1199px) {
    .portfolio .image-holder .box {
        flex-basis: 25%;
    }
}

.portfolio .image-holder .box:hover .caption {
    bottom: 0;
}

.portfolio .image-holder .box:hover img {
    transform: rotate(3deg) scale(1.1);
}

.portfolio .image-holder .box img {
    width: 544px;
    height: 330px;
    transition: 0.3s;

}

.portfolio .image-holder .box .caption {
    position: absolute;
    left: 0;
    bottom: -100%;
    transition: 0.3s;
    width: 100%;
    background-color: white;
    padding: 20px;
}

.portfolio .image-holder .box .caption h4 {
    margin-bottom: 10px;
    font-weight: bold;

}

.portfolio .image-holder .box .caption p {
    color: var(--main-color);
}

.portfolio .more {
    padding: 15px 20px;
    margin: 20px auto;
    display: block;
    text-transform: uppercase;
    background-color: var(--main-color);
    color: white;
    width: fit-content;
    text-decoration: none;
}

/* End portfolio */
/* Start video  */
.video {
    position: relative;
}

.video::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.664);

}

.video video {

    width: 100%;


}

.video .text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    padding: 50px;
    background-color: var(--transparent-color);
    text-align: center;
    color: white;
}

.video .text h2 {
    text-transform: uppercase;
    font-weight: normal;
    margin: 0 0 50px;
}

.video .text p {
    margin-bottom: 30px;
}

.video .text button {
    background-color: black;
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;
}

/* End video  */
/* Start About  */
.about {
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
}

.about img {
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
}

@medis(max-width:767px) {
    .about img {

        bottom: -60px;
        margin-top: -60px;

    }
}

/* End About   */
/* Start Statistic */
.statistic {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    background-image: url(../pics/cover.jpg);
    background-size: cover;
    position: relative;
}

.statistic::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.664);
}

.statistic .container {

    position: relative;

    display: flex;
    flex-wrap: wrap;
}

.statistic .container .box {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}

@media (max-width: 767px) {
    .statistic .container .box {
        flex-basis: 100%;
    }
}

@media (min-width: 768px) {
    .statistic .container .box {
        flex-basis: 50%;
    }
}

@media (min-width: 992px) {
    .statistic .container .box {
        flex-basis: 25%;
    }
}

.statistic .container .box i {
    width: 40px;
    height: 40px;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 30px;
}

.statistic .container .box .number {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 20px;
}

.statistic .container .box p {
    font-size: 14px;
}


/* End Statistic */
/* start skills */
.skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);

}

.skills .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media(min-width:767px) {
    .skills .container>div {
        flex-basis: 45%;
    }
}

.skills .container>div>h3 {
    margin: 0 0 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}


.skills .container>div>p {
    color: var(--par-color);
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
}

.skills .container .content {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}


.skills .container .content img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 50px;

}

@media(max-width:767px) {
    .skills .testimonials .content {
        flex-direction: column;
        text-align: center;
    }

    .skills .testimonials .content img {
        margin: 0 auto 20px;

    }
}

.skills .testimonials .content .text {
    border-bottom: 1px solid #ccc;
    line-height: 1.8;
}

.skills .testimonials .content .text p {
    color: var(--par-color);
    text-align: right;
    font-size: 14px;
    margin-bottom: 10px;
}

.skills .testimonials .bullet {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;


}

.skills .testimonials li {

    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #aaa;
    margin-right: 20px;
}

.skills .testimonials .bullet li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.skills .ourskills .prog-holder {
    margin-bottom: 40px;
}

.skills .our-skills .prog-holder h4 {
    margin-bottom: 14px;
    font-weight: normal;
    text-transform: uppercase;
}

.skills .ourskills .prog-holder .prog {
    background-color: #dedadc;
    height: 30px;


}

.skills .ourskills .prog-holder .prog span {
    display: block;
    background-color: var(--main-color);
    height: 100%;
    position: relative;
}

.skills .ourskills .prog-holder .prog span::before {
    content: attr(data-progress);
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 5%;
    position: absolute;
    padding: 4px 0;
    right: -18px;
    top: -40px;
}

.skills .ourskills .prog-holder .prog span::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent;
    top: -15px;
    right: -8px;
}

/* End skills */
/* Start Quote */
.quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../pics/quote.webp);
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}

.quote::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.664);
}

.quote .container {
    position: relative;
}

.quote q {
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}

/* End Quote */
/* Start prices */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.pricing .plans .plan {
    background-color: #fcfcfc;
    text-align: center;

}

.pricing .plans .head {
    padding: 40px 30px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.pricing .plans .head h3 {
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.pricing .plans .head span {
    font-weight: bold;
    font-size: 60px;
    position: relative;
}

.pricing .plans .plan .head span::before {
    content: "$";
    font-size: 25px;
    position: relative;
    top: -40px;
    margin-right: 15px;
    font-weight: normal;
}

.pricing .plans .plan .head span::after {
    content: "/Mo";
    font-size: 20px;
    position: relative;
    right: -15px;
}

.pricing .plans .plan ul {
    border-bottom: 1px solid var(--main-color);
}

.pricing .plans .plan ul li {
    padding: 20px;
    position: relative;
}

.pricing .plans .plan ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 120px;
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);

}


.pricing .plans .plan .foot a {
    display: block;
    text-decoration: none;
    padding: 20px;
    border: 1px solid var(--main-color);
    margin: 20px auto;
    width: fit-content;
}

.pricing .contact-us {
    text-align: center;
    margin: 50px auto 20px;
    font-size: 20px;

}

.pricing .contact-link {
    display: block;
    width: fit-content;
    margin: 20px auto;
    background-color: var(--main-color);
    color: white;
    padding: 15px 30px;
    text-decoration: none;
}

/* End prices */
/* Start subscribe */
.subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../pics/subscribe.jpg);
    background-size: cover;
    position: relative;
    color: white;
}

.subscribe::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.664);
}

.subscribe .container {
    position: relative;
    align-items: center;
    display: flex;
}

@media (max-width: 991px) {
    .subscribe .container {
        flex-direction: column;
    }
}

.subscribe form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
}

.subscribe form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}

.subscribe form input[type="email"] {
    border: 1px solid white;
    border-right: none;
    background: none;
    padding: 20px 20px 20px 60px;
    caret-color: var(--main-color);
    width: calc(100% - 130px);
}

.subscribe form input[type="submit"] {
    width: 130px;
    color: white;
    background-color: var(--main-color);
    padding: 10px 20px;
    border: 1px solid white;
    border-left: none;
    text-transform: uppercase;
}

.subscribe form input[type="email"]:focus,
.subscribe form input[type="submit"]:focus {
    outline: none;
}

.subscribe form ::placeholder {
    color: white;
}

.subscribe p {
    line-height: 2;
    margin-left: 50px;
}

@media (max-width: 991px) {
    .subscribe p {
        margin: 30px 0 0;
    }
}

/* End subscribe */
/* Start contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.contact .content {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .contact .content {
        flex-direction: column;
    }
}

.contact .content form {
    flex-basis: 70%;
}

.contact .content form .main-input {
    padding: 20px;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    width: 100%;
}

.contact .content form .main-input:focus {
    outline: none;
}

.contact .content form textarea.main-input {
    height: 200px;
}

.contact .content form input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    border: none;
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;
}

.contact .content .info {
    flex-basis: 25%;
}

@media (max-width: 767px) {
    .contact .content .info {
        order: -1;
        text-align: center;
    }
}

.contact .content .info h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
}

.contact .content .info .phone {
    display: block;
    color: #777;
    margin-bottom: 10px;
}

.contact .content .info h4:nth-of-type(2) {
    margin-top: 90px;
}

@media (max-width: 767px) {
    .contact .content .info h4:nth-of-type(2) {
        margin-top: 30px;
    }
}

.contact .content .info address {
    color: #777;
    line-height: 2;
}

@media (max-width: 767px) {
    .contact .content .info address {
        margin-bottom: 40px;
    }
}

/* End contact */
/* Start footer */
.footer {
    padding-top: calc(var(--section-padding) / 2);
    padding-bottom: calc(var(--section-padding) / 2);
    background-image: url("../pics/subscribe.jpg");
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
}

.footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}

.footer .container {
    position: relative;
}

.footer img {
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
}

.footer p:not(.copyright) {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 22px;
    width: fit-content;
    margin: 20px auto;
}

.footer .social-icons i {
    padding: 10px 15px;
}

.footer .copyright {
    margin-top: 60px;
}

.footer .copyright span {
    font-weight: bold;
    color: var(--main-color);
}

/* End footer */